In [1]:
import numpy as np
import pandas as pd

In [12]:
df_hip_hq = pd.read_csv('hip_hq_new.tsv', header=None, sep='\t')
df_hip_hq.columns = ['id1', 'id2', 'label']
set_id_hip_hq = set(df_hip_hq['id1']).union(set(df_hip_hq['id2']))
f = open('set_id_hip_hq.txt', 'w')
for id in set_id_hip_hq:
    f.write(id+'\n')
f.close()
print(len(set_id_hip_hq))

7804

In [13]:
df_hip_lq = pd.read_csv('hip_lq_new.tsv', header=None, sep='\t')
df_hip_lq.columns = ['id1', 'id2', 'label']
set_id_hip_lq = set(df_hip_lq['id1']).union(set(df_hip_lq['id2']))
f = open('set_id_hip_lq.txt', 'w')
for id in set_id_hip_lq:
    f.write(id+'\n')
f.close()
print(len(set_id_hip_lq))

14594

In [42]:
df_hip_hq_id_seq = pd.read_csv('hip_hq_cd40.tsv', header=None, sep='\t')
df_hip_hq_id_seq.columns = ['id', 'seq']
set_id_hq_cd40 = set(df_hip_hq_id_seq['id'])
set_id_hq_cd40
df_hip_hq_id_seq['len'] = [len(seq) for seq in list(df_hip_hq_id_seq['seq'])]
df_hip_hq_id_seq = df_hip_hq_id_seq[df_hip_hq_id_seq['len'] < 1200]
df_hip_hq_id_seq

          id                                                seq  len
0     Q6RVD6  MAPAGMSGAQDNSCLYQEIAPSFQRLPCPRTSSRHFSEAMTCPCGW...  105
1     Q9UI09  MELVQVLKRGLQQITGHGGLRGYLRVFFRTNDAKVGTLVGEDKYGN...  145
2     P16444  MWSGWWLWPLVAVCTADFFRDEAERIMRDSPVIDGHNDLPWQLLDM...  411
3     Q6P2H3  MAMQEKYPTEGISHVTSPSSDVIQKGSSLGTEWQTPVISEPFRSRF...  762
4     Q9UBE8  MSLCGARANAKMMAAYNGGTSAAAAGHHHHHHHHLPHLPPPHLHHH...  527
...      ...                                                ...  ...
6117  Q9UNS2  MASALEQFVNSVRQLSAQGQMTQLCELINKSGELLAKNLSHLDTVL...  423
6118  Q9H0C8  MDLFGDLPEPERSPRPAAGKEAQKGPLLFDDLPPASSTDSGSGGPL...  392
6119  Q13571  MDPRLSTVRQTCCCFNVRIATTALAIYHVIMSVLLFIEHSVEVAHG...  262
6121  O15226  MEKILQMAEGIDIGEMPSYDLVLSKPSKGQKRHLSTCDGQNPPKKQ...  690
6122  P28562  MVMEVGTLDAGGLRALLGERAAQCLLLDCRSFFAFNAGHIAGSVNV...  367

[5413 rows x 3 columns]

In [43]:
def mapid(id, idset):
    if id in set(df_hip_hq_id_seq['id']):
        return id
    else:
        return 0

In [44]:
df_hip_hq_cd40 = df_hip_hq.applymap(lambda x: mapid(x, set_id_hq_cd40))
df_hip_hq_cd40 = df_hip_hq_cd40[(df_hip_hq_cd40['id1']!=0) & (df_hip_hq_cd40['id2'] != 0)]
df_hip_hq_cd40['label'] = 1
df_hip_hq_cd40

          id1     id2  label
0      P00352  P00352      1
1      Q13683  P02708      1
8      P08637  P28907      1
11     Q99848  P11487      1
19     P07948  P07948      1
...       ...     ...    ...
28944  Q96BT3  Q9HBM1      1
28946  Q15637  Q8IWX8      1
28948  Q8WTS6  Q96RI1      1
28953  Q96BT3  Q8NBT2      1
28954  Q9NYX4  P09496      1

[12373 rows x 3 columns]