In [1]:
import numpy as np
import pandas as pd

In [4]:
# Dataframe HPRD new
df_hprd = pd.read_csv('hprd_new.tsv', sep='\t', header=None)
df_hprd.columns = ['id1', 'id2', 'label']
df_hprd

         id1     id2  label
0     P00352  P00352      1
1     Q13683  P02708      1
2     Q99102  P04626      1
3     Q9UHI6  P41162      1
4     P29597  P15498      1
...      ...     ...    ...
7596  P09038  P16070      1
7597  Q13287  P04198      1
7598  P29353  P08581      1
7599  P04626  P04626      1
7600  P29353  P04626      1

[7601 rows x 3 columns]

In [6]:
# set protein in HPRD new
set_hprd = set(df_hprd['id1']).union(df_hprd['id2'])
f = open('set_hprd.txt', 'w')
for id in set_hprd:
    f.write(id+'\n')
f.close()
len(set_hprd)

4586

In [ ]:
# Submit to Uniprot database to obtain fasta file then submit to CD-HIT 40

In [8]:
# Dataframe of id, seq, len after submitting to CD-HIT40 
df_hprd_id_seq_cd40 = pd.read_csv('hprd_new_cd40.tsv', header=None, sep='\t')
df_hprd_id_seq_cd40.columns = ['id', 'seq']
df_hprd_id_seq_cd40['len'] = [len(seq) for seq in df_hprd_id_seq_cd40['seq']]
df_hprd_id_seq_cd40

          id                                                seq  len
0     Q96S59  MSGQPPPPPPQQQQQQQQLSPPPPAALAPVSGVVLPAPPAVSAGSS...  729
1     Q02747  MNAFLLSALCLLGAWAALAGGVTVQDGNFSFSLESVKKLKDLQEPQ...  115
2     Q96DB2  MLHTTQLYQHVPETRWPIVYSPRYNITFMGLEKLHPFDAGKWGKVI...  347
3     P17275  MCTKMEQPFYHDDSYTATGYGRAPGGLSLHDYKLLKPSLAVNLADP...  347
4     O96001  MMSTEQMQPLELSEDRLDKLDPRCSHLDDLSDQFIKDCDLKKKPRK...  155
...      ...                                                ...  ...
3631  P31151  MSNTQAERSIIGMIDMFHKYTRRDDKIEKPSLLTMMKENFPNFLSA...  101
3632  O94868  MQPPPRKVKVTQELKNIQVEQMTKLQAKHQAECDLLEDMRTFSQKK...  740
3633  Q9UKT9  MEDIQTNAELKSTQEQSVPAESAAVLNDYSLTKSHEMENVDSGEGP...  509
3634  Q13490  MHKTASQRLFPGPSYQNIKSIMEDSTILSDWTNSNKQKMKYDFSCE...  618
3635  P41586  MAGVVHVSLAALLLLPMAPAMHSDCIFKKEQAMCLEKIQRANELMG...  468

[3636 rows x 3 columns]

In [9]:
# Set of hprd cd40 short id
df_hprd_id_seq_cd40_short = df_hprd_id_seq_cd40[df_hprd_id_seq_cd40['len'] < 1200]
df_hprd_id_seq_cd40_short

          id                                                seq  len
0     Q96S59  MSGQPPPPPPQQQQQQQQLSPPPPAALAPVSGVVLPAPPAVSAGSS...  729
1     Q02747  MNAFLLSALCLLGAWAALAGGVTVQDGNFSFSLESVKKLKDLQEPQ...  115
2     Q96DB2  MLHTTQLYQHVPETRWPIVYSPRYNITFMGLEKLHPFDAGKWGKVI...  347
3     P17275  MCTKMEQPFYHDDSYTATGYGRAPGGLSLHDYKLLKPSLAVNLADP...  347
4     O96001  MMSTEQMQPLELSEDRLDKLDPRCSHLDDLSDQFIKDCDLKKKPRK...  155
...      ...                                                ...  ...
3631  P31151  MSNTQAERSIIGMIDMFHKYTRRDDKIEKPSLLTMMKENFPNFLSA...  101
3632  O94868  MQPPPRKVKVTQELKNIQVEQMTKLQAKHQAECDLLEDMRTFSQKK...  740
3633  Q9UKT9  MEDIQTNAELKSTQEQSVPAESAAVLNDYSLTKSHEMENVDSGEGP...  509
3634  Q13490  MHKTASQRLFPGPSYQNIKSIMEDSTILSDWTNSNKQKMKYDFSCE...  618
3635  P41586  MAGVVHVSLAALLLLPMAPAMHSDCIFKKEQAMCLEKIQRANELMG...  468

[3217 rows x 3 columns]